<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <script>
        // add price button
        function addPrice() {
            let form = document.querySelector("form");
            let newDiv = document.createElement("div");
            let label = document.createElement("label");
            label.textContent = "Price";

            let input = document.createElement("input");
            input.type = "number";
            input.step = "0.01";
            input.name = "price";
            input.min = "0.01";

            let deleteButton = document.createElement("button");
            deleteButton.type = "button";
            deleteButton.textContent = "-";

            deleteButton.onclick = function() {
                this.parentNode.remove();
            };

            newDiv.appendChild(label);
            newDiv.appendChild(input);
            newDiv.appendChild(deleteButton);

            form.insertBefore(newDiv, form.children[form.children.length - 3]);
        }

    </script>
</head>

<body>
    <form action="/" method="POST" >
        <!--price-->
        <div>
            <label for="Price">Price</label>
            <input type="number" step="0.01" id="price" name="price" min="0.01">
            <button type="button" onclick="addPrice()">+</button>
        </div>
        <!--state-->
        <div>
            <label for="State">State</label>
            <select name="State" id="State">
                <option value="California">California</option>
                <option value="Texas">Texas</option>
                <option value="Ohio">Ohio</option>
                <option value="Oklahoma">Oklahoma</option>
                <option value="Alaska">Alaska</option>
            </select>
        </div>
        <!--discount-->
        <div>
            <label for="Discount">Discount</label>
            <select name="Discount" id="Discount">
                <option value=0>0%</option>
                <option value=5>5%</option>
                <option value=10>0%</option>
                <option value=15>15%</option>
                <option value=20>20%</option>
            </select>
        </div>
        <!--calculate-->
        <div>
            <input type="submit" value="Calculate">
        </div>
    </form>
</body>

</html>